@media (min-width: 1024px) {

  .mobile-image{
    display: none;
  }

  header{
      border-bottom-left-radius: 200px;
      padding: 60px;

    nav{

      .nav-bar{
        gap: 3rem;
      }

      #nav-menu{
        display: none;
      }
    }
  }

  .section-one{

    .section-info{
      justify-content: space-between;

      .first-item{
        inline-size: 40%;
        margin-block-start: 5rem;
      }

      .second-item{
        inline-size: 50%;
      }
    }
  }

  .section-two{
    margin-block-start: 2rem;

    .write-up{
      text-align: right;
      padding: 4rem 6rem;
      border-top-right-radius: 90px;
      border-bottom-left-radius: 90px;
    }
  }

  .section-three{
    justify-content: space-between;

    .write-up{
      inline-size: 60%;
      align-self: center;
      padding: 0rem 6rem;

      div{
        margin-block-end: 2rem;
      }

      h3{
        margin-block-end: 1rem;
      }
    }
  }

  footer{

    .footer-flex{
      justify-content: space-between;
        padding: 3rem 10rem;
    }
  }

}
