@media (max-width: 1023px) {

  .desktop-image{
    display: none;
  }

  header{
      border-bottom-left-radius: 80px;
      padding: 40px;

    nav{

      .nav-bar{
        gap: 10rem;
      }

      .buttons{
        display: none;
      }

      .nav-items{
        display: none;
      }
    }

    .intro{

      h1{
        font-size: 28px;
      }
    }
  }

  .section-one{

    h1{
      margin-block-end: 2rem;
    }

    .section-info{
      flex-direction: column-reverse;
      gap: 2rem;

      h3{
        text-align: center;
      }

      p{
        text-align: center;
      }
    }
  }

  .section-two{

    h1{
      text-align: center;
      margin-block-end: 1.3rem;
    }

    p{
      text-align: center;
    }
  }

  .section-three{

    h3{
      text-align: center;
      margin-block-end: 1.3rem;
    }

    p{
      text-align: center;
      margin-block-end: 2.5rem;
    }
  }

  footer{
    text-align: center;

    .footer-flex{
      flex-direction: column;
      gap: 2.5rem;
      padding: 3rem 0rem;
    }
  }
}
